@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Rymaneco;
    src: url("../../fonts/RymanEco-Regular.otf") format("opentype");
}
  
/*--------------------------------------------Root Styles Declaration area-----------------------------------------------------*/
:root {
    --bk-bg: #000000;
    --wt-bg: #ffffff;
    --bg-accent: #484a4d;
    --bk-color: #ffffff;
    --wt-color: #000000;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}
body{
    margin: 0;
}

/*--------------------------------------------------------------------Ends -----------------------------------------------------*/
#dark {
    background-color: var(--bk-bg);
    color: var(--bk-color);
}

#light {
    background-color: var(--wt-bg);
    color: var(--wt-color);
}

body {
    margin: 0;
}
.App{
    padding: 0rem 6rem;
}

html{
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-padding-top: 30px;
}
/*-----------------------------------------------------Navbar Style --------------------------------------------*/

.nav-logo {
    height: 5rem;
    width: auto;
}
/* #dark .navbar{
    background-color: var(--bk-bg);
}
#light .navbar{
    background-color: var(--bk-color);

} */

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 0;
    z-index: 10;
    background: transparent;

}
.nav-left{
    justify-content: flex-start;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-m{
    padding: 10px 30px;
}
.switch-lable{
    padding: 2px 10px;
}


/*-------------------------------------------------End of NavbStylear  --------------------------------------------*/


/* ---------------------------------------------------Hambargar style------------------------------------------*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dark a {
    color: #ffffff;
    text-decoration: none;
    ;
}
#light a {
    color: #000000;
    text-decoration: none;
    ;
}


.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    

}

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
#dark .dropdown{
    background-color: var(--bk-bg);
}
#light .dropdown{
    background-color: var(--wt-bg);
}
.dropdown {
    position: absolute;
    top: 80px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bk-bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item {

    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.7rem;
    opacity: 60%;
}

.menu-item .icon-button {
    margin-right: 0.5rem;
}

.menu-item:hover {
    opacity: 100%;
}

/* ------------------------------------------------End of Hambargar style------------------------------------------*/
/*--------------------------------------------------Divider Css style ----------------------------------------------*/
hr.divider {
    border-top: 1px solid #bbb;
    margin: 1% 5%;
}
hr.underline{
    border-top: 3px solid #8e4dffbd;
    margin: 10% 15% 0% 15%;
}

/* ------------------------------------------------Header Section styles------------------------------------------*/
#dark .header{
    background-color: var(--bk-bg);
}
.header{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* ------------------------------------------------Scroll Snap Homepage------------------------------------------*/
.wrapper{
    
}


/* ------------------------------------------------Pricing plan Css------------------------------------------*/

  .pricing{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
  }
  #dark .pricing{
    color: #ffffff;

  }
  #light .pricing{
    color: #000000;
  }
  
.toggle-button > div {
    align-items: center !important;
    justify-content: center !important;
  }
  
  .toggle-button > div > button {
    color: white !important;
    font-weight: 800 !important;

    background-color: black;
    width: 50% !important;
  }
  .toggle-button > div > button:hover {
    color: white !important;
    font-weight: 800 !important;

    background-color: black;
    width: 50% !important;
  }
  
  .apexcharts-tooltip span {
    color: #000 !important;
  }
  
  .active-butttonn {
    background-image: linear-gradient(358deg, #8e4dff, #49274d);
    transition: 0.4s ease-out !important;
    border-radius: 5% !important;
    border: 0px solid transparent;
  }
  
  .slider1 > div > span {
    color: #8e4dff !important;
    height: 10px !important;
  }
  .slider1 > div > span > span {
    color: #8e4dff !important;
    font-size: 10px !important;

  }
  
  .css-14pt78w-MuiSlider-rail {
    background-color: #a7a7a7 !important;
  }
  .slider1 > div > span > span:last-child {
    color: #fff !important;
  }
  
  .btn-gradient-2 {
    background: linear-gradient(to right, #565656, #202020) padding-box,
      linear-gradient(to right, #b5b5b561, #303030) border-box;
    border-radius: 50em;
    border: 7px solid transparent;
  }
  .btn-gradient-1 {
    background: linear-gradient(314deg, #6d6d6d 0%, #3d3d3d 100%) padding-box,
      linear-gradient(to right, #000000 -66%, #ffffff 363%) border-box;
    border: 9px solid transparent;
    overflow: hidden;
  }
  
/* ------------------------------------------------End of Pricing plan css------------------------------------------*/



/*-----------------------------------------------------Footer page---------------------------------------------*/
.g-text{
    margin: 0%;
}
.footer{
    display: flex;
    justify-content: space-between;
    min-height: 25vh;
}
.lists{
    display: flex;
    align-items: center;
    
    font-size: 16px;
}
.ft-logo{
    width: 5rem;
    height: auto;
}
.ft-title{
    display: flex;
    align-items: center;
    margin: 0rem 1rem;
}
.social-logo{
    width: 25px;
    height: auto;
    margin: 0rem 0.7rem;
    transition: all 0.2s ease;
}
.social-logo:hover{
    transform: scale(1.1);

}
.social{
    display: inline-flex;
    margin: 0rem 2rem;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
}
.contact-footer{
    display: flex;
}


/*-----------------------------------------------------Responsive Design Css ---------------------------------------------*/
@media only screen and (max-width: 600px) {
    .App{
        padding: 0;
    }    
    .navbar{
        width: 100%;

    }
    .switch-lable{
        display: none;
    }
    .footer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-footer{
        display: flex;
        flex-direction: column;
    }

}